        </div>
        <footer style="text-align: center; color: white;">
            <a href="http://github.com/admicos/OpenMCWeb">OpenMCWeb {{ constant("OMCW_SURUM") }}</a> -- Admicos tarafından yapılmıştır.
        </footer>
    </main>
</div>
<script defer src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
<script defer src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

<script defer src="{{ current_url }}/data/js/material.min.js"></script>
<script defer src="{{ current_url }}/data/js/ripples.min.js"></script>
<script defer src="{{ current_url }}/data/js/openmcweb.min.js"></script>
</body>
</html>